	<h1> Welcome! </h1>
	<b> User: <%= session.user.login %></b> </br>
	<h1> <%= date %> </h1>
	<b> Five things for the dream </b>
	</br>
	<% for(var i = 1; i <= n; i++) { %>
	<%= i %>. <input type="text"></input></br>
	<% } %>
